{% extends 'base.html' %}

{% block body %}
<div>
    <h1 style="display: inline;">방명록 보기</h1>
    <a href="{{url_for('new_post')}}" style="display: inline;" class="btn btn-success float-right">글쓰기</a>
</div>
<hr>
{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <small class='font-italic'>Written By
        {% if post.author %}
            <span class="font-weight-bold">
                {{ post.author }}
            </span>
        {% else %}
            Unknown
        {% endif %}
        on {{ post.date_posted.strftime('%Y-%m-%d %I:%M:%S %p') }}
    </small>
    <p class="mt-2" style="white-space:pre-wrap">{{ post.content }}</p>
    <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
    <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
    <hr>
{% endfor %}

{% endblock %}